$color-primary: #ff6978;
$color-primary-dark-1: #6d435a;
$color-primary-dark-2: #352d39;

$color-secondary: #b1ede8;
$color-secondary-light-1: #ddf1f0;
$color-secondary-light-2: #c8f3f1;

$color-white: #fffcf9;

$color-black: #282828;
